
* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  vertical-align: bottom;
  max-width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");
:root {
  --easing: cubic-bezier(0.2, 1, 0.2, 1);
  --transition: 0.8s var(--easing);
  --color-base: #f8f8f8;
  --color-gray: #ddd;
  --color-theme: #f32618;
  --color-theme-darken: #f12617;
  --box-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.05), -0.8rem -0.8rem 1.2rem #fff;
  --box-shadow-hover: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.08), -1rem -1rem 1.5rem #fff;
  --box-shadow-inset: inset 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.05), inset -0.8rem -0.8rem 1.2rem #fff;
  --box-shadow-dark: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.1), -0.8rem -0.8rem 1.2rem rgba(#fff, 0.2);
}

html {
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  font-size: 62.5%;
  height: 100vh;
  word-break: break-word;
  color: #333;
  background-color: var(--color-base);
  appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

body {
  
/*   background: linear-gradient(90deg, rgba(208, 147, 82, 0.6), rgba(192, 134, 70, 0.6) 60%, rgba(208, 147, 82, 0.6)), */
/*     repeating-radial-gradient(ellipse at 60% 500%, #c08646, #c08646 0.2%, #d09352 0.6%, #d09352 1%); */
  z-index: -1;
}

body::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  color: #fff;
  background: var(--color-theme);
}

::selection {
  color: #fff;
  background: var(--color-theme);
}

img {
  border: 0;
  margin: 0;
}

figure {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

main {
  display: block;
}


.l-inner {
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 100vm;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}

.l-section .l-inner {
  padding: 0;
}

.breadcrumb {
  height: 8vh;
  margin: 0;
  padding: 0 20px;
  list-style: none;
}

.breadcrumb li {
  display: inline; /*横に並ぶように*/
  list-style: none;
  font-weight: bold; /*太字*/
  text-align: center;
  line-height: 8vh;
}

.breadcrumb li:after {
  /* >を表示*/
  content: ">";
  text-align: center;
  line-height: 8vh;
  padding: 0 0.2em;
  color: #555;
  font-size: 2rem;
}

.breadcrumb li:last-child:after {
  content: "";
}

.breadcrumb li a {
  font-size: 2rem;
  text-decoration: none;
  color: #3f60f1; /*色*/
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

.breadcrumb li:last-child a {
  color: #333;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  cursor: default;
}


[class*="swiper"]:focus {
  outline: none;
}

.slide-media,
.thumb-media {
  position: relative;
  overflow: hidden;
}
.slide-media img,
.thumb-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position:center 12%;
}

.flow01 {
  overflow: hidden;
}
.flow01 .swiper-pagination-main {
  max-width: 100vw;
  height: 8vh;
  margin-top: 1vh;
  margin-bottom: 3vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flow01 .swiper-pagination-main .swiper-pagination-bullet {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  text-align: center;
  color: var(--color-gray);
}
.flow01 .swiper-pagination-main .swiper-pagination-bullet::before,
.flow01 .swiper-pagination-main .swiper-pagination-bullet::after {
  position: absolute;
  content: "";
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: var(--color-theme);
}
.flow01 .swiper-pagination-main .swiper-pagination-bullet::before {
  z-index: 1;
  right: 0;
  bottom: -6px;
  left: 0;
  width: 1.6rem;
  height: 1.6rem;
  margin: auto;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 0 5px var(--color-base);
  box-shadow: 0 0 0 5px var(--color-base);
}
.flow01 .swiper-pagination-main .swiper-pagination-bullet::after {
  right: 50%;
  bottom: 0;
  width: 100%;
  height: 3px;
}
.flow01 .swiper-pagination-main .swiper-pagination-bullet:first-child::after {
  display: none;
}
.flow01 .swiper-pagination-main .swiper-pagination-bullet .step {
  font-size: 1.6rem;
}
.flow01 .swiper-pagination-main .swiper-pagination-bullet-active {
  color: var(--color-theme);
}
.flow01 .swiper-pagination-main .swiper-pagination-bullet-active::before {
  -webkit-box-shadow:
    0 0 0 4px var(--color-base),
    0 0 0 7px var(--color-theme);
  box-shadow:
    0 0 0 4px var(--color-base),
    0 0 0 7px var(--color-theme);
}
.flow01 .swiper-pagination-main .swiper-pagination-bullet-active ~ *::before,
.flow01 .swiper-pagination-main .swiper-pagination-bullet-active ~ *::after {
  background-color: var(--color-gray);
}

.flow01 .swiper-pagination-sub {
  font-size: 0;
  text-align: center;
}
.flow01 .swiper-pagination-sub .swiper-pagination-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  vertical-align: top;
  background-color: var(--color-gray);
}
.flow01 .swiper-pagination-sub .swiper-pagination-bullet:not(:first-child) {
  margin-left: 8px;
}
.flow01 .swiper-pagination-sub .swiper-pagination-bullet-active {
  background-color: var(--color-theme);
}

.flow01 .swiper-main {
  overflow: visible;
}

.flow01 .swiper-main {
  max-width: 100vw;
  height: 80vh;
}

.flow01 .l-inner {
  padding-bottom: 0;
}

.flow01 .slide-media {
  height: 80vh;
}
.flow01 .slide-media img {
  -webkit-transition: 3s;
  transition: 3s;
}
.flow01 .slide-media.clip {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-filter: contrast(1.1);
  filter: contrast(1.1);
  --stroke-width: 1.2rem;
  --out: 2.4rem;
  --in: calc(var(--out) + var(--stroke-width));
  -webkit-clip-path: polygon(
    var(--out) var(--out),
    calc(100% - var(--out)) var(--out),
    calc(100% - var(--out)) calc(100% - var(--out)),
    var(--out) calc(100% - var(--out)),
    var(--out) var(--in),
    var(--in) var(--in),
    var(--in) calc(100% - var(--in)),
    calc(100% - var(--in)) calc(100% - var(--in)),
    calc(100% - var(--in)) var(--in),
    var(--out) var(--in)
  );
  clip-path: polygon(
    var(--out) var(--out),
    calc(100% - var(--out)) var(--out),
    calc(100% - var(--out)) calc(100% - var(--out)),
    var(--out) calc(100% - var(--out)),
    var(--out) var(--in),
    var(--in) var(--in),
    var(--in) calc(100% - var(--in)),
    calc(100% - var(--in)) calc(100% - var(--in)),
    calc(100% - var(--in)) var(--in),
    var(--out) var(--in)
  );
}
.flow01 .swiper-slide {
  overflow: hidden;
}
.flow01 .swiper-slide[class*="-active"] .slide-media.clip img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.flow01 .swiper-slide[class*="-prev"] .slide-media img {
  -webkit-transform: translateX(80vw);
  transform: translateX(80vw);
}
.flow01 .swiper-slide[class*="-next"] .slide-media img {
  -webkit-transform: translateX(-80vw);
  transform: translateX(-80vw);
}
.flow01 .content{
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left:4rem;
  right:0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
}
.flow01 .fraction {
  position: absolute;
  z-index: 2;
  right:4rem;
  bottom: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
}

.flow01 .content {
  pointer-events: none;
}
.flow01 .content-title {
  font-size: 6rem;
  line-height: 1.1;
  color: #000;
  -webkit-text-stroke:2px #FFF;
}
.flow01 .content-text {
  font-size: 1.8rem;
  margin: 4rem 0;
  color: #fff;
}
.flow01 .content-button {
  font-size: 1.6rem;
  font-weight: bold;
  display: inline-block;
  color: var(--color-theme);
}
.flow01 .content-button::before {
  display: inline-block;
  width: 6rem;
  height: 1px;
  margin: -2px 1.6rem 0 0;
  content: "";
  vertical-align: middle;
  background-color: currentColor;
}
.flow01 .content.anm-started .content-button {
  pointer-events: auto;
}
.flow01 .fraction {
  top:0;
  font-weight: bold;
  line-height: 1.2;
  color: #fff;
}
.flow01 .fraction .current {
  font-size: 3.2rem;
  display: inline-block;
  overflow: hidden;
  width: 6rem;
}
.flow01 .fraction .current .num {
  display: inline-block;
}
.flow01 .fraction .current .num.anm-started {
  -webkit-animation: flow01-fraction 1s var(--easing);
  animation: flow01-fraction 1s var(--easing);
}
.flow01 .fraction .total {
  vertical-align: 2em;
}
.flow01 .fraction .total::before {
  content: " / ";
}
.flow01 .marker {
  position: relative;
  display: inline-block;
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
  background: rgba(255,255,255,0.2);
}
.flow01 .marker::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  /* background-color: #fff; */
}
.flow01 .anm-started .marker {
  -webkit-animation: flow01-marker 1s 0.5s both;
  animation: flow01-marker 1s 0.5s both;
}
.flow01 .anm-started .marker::after {
  -webkit-animation: flow01-markerBg 1s 0.5s both;
  animation: flow01-markerBg 1s 0.5s both;
}
.flow01 .anm-started .content-text .marker,
.flow01 .anm-started .content-text .marker::after {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.flow01 .anm-started .content-link .marker,
.flow01 .anm-started .content-link .marker::after {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.flow01 .anm-finished .marker {
  -webkit-animation: flow01-markerHide 0.5s both;
  animation: flow01-markerHide 0.5s both;
}
.flow01 .anm-finished .marker::after {
  -webkit-clip-path: inset(0 0 0 100%);
  clip-path: inset(0 0 0 100%);
}

   .to-be-continued {
      position: fixed;
      bottom: 10px;
      right: -400px; /* 初期状態では画面外に */
      width: 360px;
     hight:100px;
      opacity: 0;
      transition: opacity 1
s ease-in-out;
    }

    /* スライドインアニメーション */
    .slide-in {
      z-index:100;
      animation: slideIn 4
s forwards;
    }

    /* アニメーションの定義 */
    @keyframes slideIn {
      from {
        right: -400px;
        opacity: 0;
      }
      to {
        right: 20px;
        opacity: 1;
      }
    }

@-webkit-keyframes flow01-marker {
  60%,
  100% {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}

@keyframes flow01-marker {
  60%,
  100% {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
}
@-webkit-keyframes flow01-markerBg {
  60% {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 100%);
    clip-path: inset(0 0 0 100%);
  }
}
@keyframes flow01-markerBg {
  60% {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 100%);
    clip-path: inset(0 0 0 100%);
  }
}
@-webkit-keyframes flow01-markerHide {
  0% {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 100%);
    clip-path: inset(0 0 0 100%);
  }
}
@keyframes flow01-markerHide {
  0% {
    -webkit-clip-path: inset(0);
    clip-path: inset(0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 100%);
    clip-path: inset(0 0 0 100%);
  }
}
@-webkit-keyframes flow01-fraction {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-110%);
    transform: translateY(-110%);
    opacity: 1;
  }
  50.1% {
    -webkit-transform: translateY(110%);
    transform: translateY(110%);
    opacity: 0;
  }
}
@keyframes flow01-fraction {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-110%);
    transform: translateY(-110%);
    opacity: 1;
  }
  50.1% {
    -webkit-transform: translateY(110%);
    transform: translateY(110%);
    opacity: 0;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
  .l-inner {
    padding: 0;
  }
  .pc {
    display: none !important;
  }
}

@media only screen and (max-width: 599px) {
  html {
    font-size: 50%;
  }
  .pc-tab {
    display: none !important;
  }

  .flow01 .swiper-pagination-main {
    max-width: calc(100% - 3.2rem);
  }
  .flow01 .swiper-pagination-main .swiper-pagination-bullet::before {
    bottom: -5px;
  }
  .flow01 .swiper-pagination-main .swiper-pagination-bullet .step {
    font-size: 1.4rem;
    display: block;
    margin-bottom: 0.5em;
    text-indent: 0.5em;
  }
}

@media only screen and (min-width: 1025px) {
  .tab-sp {
    display: none !important;
  }
}

@media only screen and (min-width: 600px) {
  .sp {
    display: none !important;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 600px) {
  .flow01 .swiper-pagination-main {
    max-width: calc(100% - 6.4rem);
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 600px) {
}
